.App {
  text-align: center;
}
.toolbar {
padding: 10px;

}


.d-flex {
  display: flex;

}

.j-center {
  justify-content: center;
}

.p10 {
  padding: 10px;

}

.column {
  flex-direction: column;
}

input {
  width: 100px;
  padding: 10px;
  margin: 10px;
}

button {
  width: 100px;
  padding: 10px;
  margin: 10px;
}

.box {
  border: 2px solid black;
  width: 400px;
}

.a-center {
  align-items: center;
}